# Built application files and Maven
target/

# Compiled class files
*.class

# Log Files
*.log

# About IntelliJ
*.iml
/.idea/
/out/
/build/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# macOS
.DS_Store

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# CMake
cmake-build-debug/

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
